/* Definition of colors. */

@media (prefers-color-scheme: light) {
  :root {
    --alwaysblack: #0C0C0D;
    --dark: #0C0C0D;
    --medium: #4B4B4B;
    --light: #646464;
    --ultralight: #f8f8f9;
    --border: #e6e7e8;
    --link: #F2E39B;
    --background: #ffffff;
    --highlight: #F2E39B;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --alwaysblack: #0C0C0D;
    --dark: #ececec;
    --medium: #c3c3c3;
    --light: #a2a2a2;
    --ultralight: #272829;
    --border: #35363a;
    --link: #F2E39B;
    --background: #181922;
    --highlight: #F2E39B;
  }
}


/* Customize selection color. */

/* ::-moz-selection {
  background: var(--highlight);
  color: var(--dark);
}

::selection {
  background: var(--highlight);
  color: var(--dark);
} */


/* All Sizes */

html {
  font-family: 'Roboto Mono', Helvetica, sans-serif;
  font-feature-settings: "kern", "liga", "onum";
  -webkit-font-smoothing: antialiased;
}

body {
  max-width: 200em;
  margin: 0 auto;
  font-size: 1rem;
  background: var(--background);
  line-height: 1.75;
  font-style: normal;
  color: var(--medium);
  scroll-behavior: smooth;
}

div {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  width: 100%;
  padding: 0em 2em 0em 2em;
  /* margin: 1em 0em 4em 0em; */
  margin: 0 auto;
}

.container-584 {
  max-width: 36.5em;
  padding: 0em 2em 0em 2em;
  margin: 0 auto;
}

.container-720 {
  max-width: 48em;
  padding: 0em 2em 0em 2em;
  /* margin: 1em 0em 4em 0em; */
  margin: 0 auto;
}

.container-940 {
  max-width: 65em;
  padding: 0em 2em 0em 2em;
  /* margin: 1em 0em 4em 0em; */
  margin: 0 auto;
}

.container-1440 {
  max-width: 90em;
  padding: 0em 2em 0em 2em;
  /* margin: 1em 0em 4em 0em; */
  margin: 0 auto;
}

.spacer0-1 {
  padding: 0em 0em 1em 0em;
}

.spacer0-2 {
  padding: 0em 0em 2em 0em;
}

.spacer3-0 {
  padding: 3em 0em 0em 0em;
}

.spacer3-3 {
  padding: 3em 0em 3em 0em;
}

.spacer6-0 {
  padding: 6em 0em 0em 0em;
}

.spacer0-6 {
  padding: 0em 0em 6em 0em;
}

.spacer6-2 {
  padding: 6em 0em 2em 0em;
}

.spacer6-6 {
  padding: 6em 0em 6em 0em;
}

.spacer6-12 {
  padding: 6em 0em 12em 0em;
}

.spacer8-4 {
  padding: 8em 0em 4em 0em;
}

.spacer12-6 {
  padding: 12em 0em 6em 0em;
}

.flex { display: flex; }
.flex-col { flex-direction: column; }
.justify-center { justify-content: center;}
.items-center { align-items: center;}
.grid { display: grid; }

.grid-col-1 {
  grid-template-columns: repeat(1,minmax(0,1fr));
}

.grid-col-2 {
  grid-template-columns: repeat(2,minmax(0,1fr));
}

.grid-col-3 {
  grid-template-columns: repeat(3,minmax(0,1fr));
}

@media (min-width: 584px) {
  .sm:grid-col-3 {
      grid-template-columns: repeat(3,minmax(0,1fr));
  }
}

.gap-1 { gap: 1rem; }

.middle {
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
}

.blend {
  mix-blend-mode: exclusion;
}

.bg-alwaysblack { background-color: var(--alwaysblack); }
.bg-border { background-color: var(--border);}

.c-light {color:var(--light);}
.c-medium {color:var(--medium);}
.c-dark {color:var(--dark);}

hr {
  border: 0;
  width: 100%;
  height: 2px;
  background-color: var(--border);
}

img,
video {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Inter', Helvetica, sans-serif;
}

h1 {
  font-weight: bold;
  font-style: normal;
  color: var(--dark);
  margin: 0;
}

h2 {
  font-size: 1.125rem;
  font-weight: normal;
}

h2 a {
  color: var(--link);
}

h1.intro {
  font-family: 'Roboto Mono', Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  color: var(--light);
}

span {
  color: var(--dark);
}

p {
  font-size: 1rem;
  color: var(--light);
}

ol {
  /* list-style-type: decimal-leading-zero; */
  padding-inline-start: 0em;
}

ul li,
ol li {
  font-size: 1rem;
  margin: .5em 0 .5em 0;
}

::marker {
  font-size: 1rem;
  color: var(--ultralight);
}

h5 {
  font-size: 1rem;
  font-weight: normal;
  margin: 0em 0em 0em 0em;
}

h3 {
  font-size: 1rem;
  color: var(--dark);
  margin: 0em 0em 0em 0em;
}

h5 {
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--medium);
}

h5 span {
  color: var(--light);
  margin: 0 .25em 0 .25em;
}

h6 {
  margin: 0em;
}

p a {
  color: var(--alwaysblack);
  text-decoration: none;
  background-color: var(--link);
  padding: 1px 5px;
  border-radius: .15rem;
  -moz-border-radius: .15rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
p a:hover {
  color: var(--alwaysblack);
  text-decoration: none;
  background-color: #DDD3A5;
  cursor: pointer;
  padding: 1px 5px;
  border-radius: .15rem;
  -moz-border-radius: .15rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.impact {
  font-size: 1.6rem;
  color: var(--dark);
  line-height: 1.75;
}

.italic {
  font-style: italic;
  color: inherit;
}

b {
  color: var(--dark);
}

.underline {
  text-decoration: underline;
  color: inherit;
}

.highlight {
  background-color: var(--highlight);
  padding: 0.05em 0.25em 0.05em 0.25em;
  border-radius: 0.3em;
}

.quote, blockquote {
  border-left: 0.15em solid var(--border);
  padding-left: 0.5em;
  font-size: 1.2rem;
  color: var(--dark);
  font-style: italic;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  color: var(--light);
  text-decoration: underline;
  -webkit-text-decoration-color: var(--medium);
  text-decoration-color: var(--medium);
}

:focus {
  outline: none;
  /* outline: -webkit-focus-ring-color auto 0px; */
}

.tr { text-align: right;}
.tc { text-align: center;}
.tl { text-align: left;}

.btn, button {
  font-family: 'Inter', Helvetica, sans-serif;
  font-weight: 500;
  font-size: .875rem;
  line-height: 1.25rem;
  padding: 0.5rem 1rem;
  background-color: var(--background);
  border-radius: 0.3em;
  border: 2px solid var(--border);
  color: var(--medium);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.btn:hover, button:hover {
  color: var(--dark);
  background-color: var(--ultralight);
  text-decoration: none;  
}

.btn:active, button:active {
  -webkit-box-shadow: 0 0 0 0.3em var(--link);
  box-shadow: 0 0 0 0.3em var(--link);
}

.btn:focus, button:focus {
  outline: 2px solid var(--link);
  border-radius: 4px;
  outline-offset: 2px;
}

.media {
  width: 100%;
  border-radius: .2em;
}

.nav-item a .me-img:hover {
  -webkit-transform: scale(1.05) rotate(0.1turn);
  -ms-transform: scale(1.05) rotate(0.1turn);
  transform: scale(1.05) rotate(0.1turn);
}

.img-border {
  -webkit-box-shadow: 0 0 0 0.15em var(--border);
  box-shadow: 0 0 0 0.15em var(--border);
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.img-border:hover {
  -webkit-box-shadow: 0 0 0 0.3em var(--border);
  box-shadow: 0 0 0 0.3em var(--border);
}

.sizelimit {
  max-height: 40em;
}

.media-container {
  position: relative;
  border-radius: 0.1em;
  z-index: 1;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  /* margin: 4em 0 0 0; */
  /* max-width: 70px; */
  /* padding: .75em; */
}

.media-container:hover {
  -webkit-animation: keypress 350ms;
  animation: keypress 350ms;
}

.media-container:active {
  -webkit-box-shadow: 0 0 0 0.15em var(--background), 0 0 0 0.3em var(--dark);
  box-shadow: 0 0 0 0.15em var(--background), 0 0 0 0.3em var(--dark);
}

.annotation {
  margin-left: 1em;
  color: var(--light);
  font-size: 0.8rem;
  margin-bottom: 1em;
}

.annotation a {
    color: var(--link);
}

/* Light mode annotation */
@media (prefers-color-scheme: light) {
  .annotation:before {
    content: "↳";
    margin-right: .5em;
  }
}

/* Dark mode annotation */
@media (prefers-color-scheme: dark) {
  .annotation:before {
    content: "↳";
    margin-right: .5em;
  }
}

.nav-item {
  display: inline-block;
  margin: 1em 1em 1em -1em;
}

.nav-item a {
  color: var(--light);
  text-decoration: none;
  padding: 1em;
}

.nav-item a:hover {
  color: var(--dark);
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  /* Having display: inline-block; breaks in Safari.  */
  display: block;
  /* This can't be with margin / padding or sticky will break. */
  top: 0em;
  bottom: 0em;
  z-index: 1;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.sound-notice {
  border: .125em solid var(--border);
  display: inline-block;
  margin: .125em .125em 1em 1em;
  border-radius: 0.3em;
  cursor: default;
  background-color: var(--background);
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.sound-notice p {
  font-size: .8rem;
  margin: 0.25em 0.5em 0.25em 0.5em;
}

.fadeinup {
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: .5s;
  animation-delay: .5s;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  10% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  90% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  10% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  90% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}

.timeline ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.timeline-visual {
  margin-right:1.5rem;
}

.timeline-bullet {
  border-radius:999px;
  padding:1rem;
  background: var(--border);
  border-color: var(--background);
  border-width: 4px;
}

.timeline-stroke {
  width: 1px;
  background-color: var(--border);
  flex: 1 1 0%;
  margin-bottom: -1rem;
}

.post-meta {
  color: var(--light);
  font-size: 0.8rem;
}

.post-card {
  padding: 1rem 1.5rem;
  background: var(--ultralight);
  border-radius: 0.3em;
  -webkit-box-shadow: 0 1px 2px 0em rgba(0,0,0,0.05);
  box-shadow: 0 1px 2px 0em rgba(0,0,0,0.05);
  border: 2px solid var(--ultralight);
  transition-property: box-shadow;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .15s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.post-card:hover {
  color: var(--dark);
  border-color: var(--border);
  text-decoration: none;
}

.post-card:active {
  -webkit-box-shadow: 0 0 0 0.3em var(--link);
  box-shadow: 0 0 0 0.3em var(--link);
}

.post-card:focus {
  outline: 2px solid var(--link);
  border-radius: 4px;
  outline-offset: 2px;
}
/* Tiny mobile */

@media only screen and (max-width: 479px) {
  .container {
    padding: 0em 1em 0em 1em;
    margin: 1em 0em 2em 0em;
  }
  .spacer6-2 {
    padding: 2em 0em 1em 0em;
  }
  .spacer6-6 {
    padding: 2em 0em 2em 0em;
  }
  .spacer8-4 {
    padding: 5em 0em 2em 0em;
  }
  .sticky {
    display: none;
  }
  .name {
    text-align: center;
  }
  .name a {
    padding: 1em 1em 1em 1em;
  }
  .navigation {
    text-align: center;
  }
  .nav-item a {
    padding: 0.75em;
  }
  .project-description {
    text-align: left;
  }
}


/* Mobile */

@media only screen and (max-width: 640px) {
  .sticky {
    display: none;
  }
  .name {
    text-align: center;
  }
  .name a {
    padding: 1em 1em 1em 1em;
  }
  .navigation {
    text-align: center;
  }
  .nav-item a {
    padding: 0.75em;
  }
  .project-description {
    text-align: left;
  }
}


/* Tablet */

@media only screen and (min-width: 760px) and (max-width: 939px) {}


/* Small Monitor */

@media only screen and (min-width: 940px) and (max-width: 1199px) {}


/* Large Monitor */

@media only screen and (min-width: 1200px) {}