---
layout: default
title: Hire Me
subtitle: 
permalink: /hire-me/
---
<script>
  $(function(){
    $(".element").typed({
      strings: ["make", "design", "create", "launch", "build", "break", "sketch", "pitch", "grow"],
      typeSpeed: 100,
      // backspacing speed
      backSpeed: 0,
      // time before backspacing
      backDelay: 2000,
      // loop
      loop: true,
      // false = infinite
      loopCount: false
    });
  });
</script>


<main class="mw7 center paxl-ns pvl pam">
  {% include _header.html %}
    <div class="intro">
      <h1 class="f1 f1-m f1-l f1-xl measure lh-title ptm b">
        Let's 
        <em class="element" style="padding-bottom: 0;margin-bottom:0;"></em>
        <noscript>
          <em>make</em>
        </noscript>
        something together.
      </h1>
      <p class="f4 f4-s f4-m f4-l f4-xl measure lh-copy mtm">
        You have a badass idea. 
        <br>
        <br>
        You've been evolving it in your head and it feels perfect, but you don't know how to take the next step.  You need someone who knows exactly how to get those ideas out into the world in the most effective way.
        <br>
        <br>
        You need help from someone who can translate your abstract concepts into concrete realities. You need the details to really shine. You need your product to be memorable. Let's make something useful. Let's make something that everyone wishes they had. 
        <br>
        <br>
        I'm currently booking <i>two spots</i> for the month of June.
        <br>
        <br>
        Drop me a line and let's get to work.
      </p>
      <a href="mailto:alex@collectivelymade.com"><h2 class="f2 f2-m f2-l f2-xl">alex@collectivelymade.com</h2></a>

    </div>

<br>
</main>
{% include _footer.html %}

