---
layout: default
---

<script>
  $(function(){
      $(".element").typed({
        strings: ["a Designer.", "a Developer.", "an Artist.", "a Writer.", "a Musician."],
        typeSpeed: 100,
        // backspacing speed
        backSpeed: 0,
        // time before backspacing
        backDelay: 2000,
        // loop
        loop: true,
        // false = infinite
        loopCount: false
      });
  });
</script>


<div class="mw8 center">
  <main class="pvx phm pax-m paxl-l">
    <div class="intro">
      <p class="f2 f1-m f2-l f2-xl measure lh-copy mw8 mtm">
        <b class="red">Alexander Russell</b> is 
        <em class="element" style="padding-bottom: 0;margin-bottom:0;"></em>
        <noscript>
          <em>a Designer.
          </em>
        </noscript>
        <br>
        Turning complex ideas into meaningful and intuitive experiences. Collaborator at <a target="_blank" href="http://www.collectivelymade.com">Collectively Made</a>. Activist for <a href="http://www.wearevital.org/">We Are Vital</a>. <!-- Writing in <a target="_blank" href="">Alphabet Town</a>. -->
      </p>
      <p class="f5 f4-ns">You can email Alex at <a href="mailto:alex@collectivelymade.com">alex@collectivelymade.com</a> or find him on <a target="_blank" href="http://twitter.com/alexanderussell">Twitter</a> and <a href="http://www.linkedin.com/in/alexanderussell" target="_blank">LinkedIn</a>.</p>
    </div>
  </main>

  <aside class="pvl phm pax-m paxl-l" style="padding-top:0;">
  {% include _professional-work.html %}
  </aside>
  <aside class="pvl phm pax-m paxl-l" style="padding-top:0;">
  {% include _personal-projects.html %}
  </aside>

<!--
  <aside class="pvl phm pax-m paxl-l" style="padding-top:0;"> 
  {% include _writing.html %} 
  </aside>
  -->

  <aside class="pvl phm pax-m paxl-l" style="padding-top:0;">
  <a href="/library"class="none dk-gray"><h2 class="fw4 f4 f4-ns ttu">Library</h2></a>
    <section class="library">
    {% for item in site.data.library limit: 10 %}
      <a class="wi-50 wi-33-m wi-20-l db tc fl none mts" href="{{ item.url }}" target="_blank">
        <div class="lib-contain">
          <img src="/img/library/{{ item.img }}" title style="max-height:400px;"/>
        </div>
        <div class="pas">
        <p class="black none db pan man" >{{ item.title }}</p>
        <small class="gray none tc">{{ item.author }}</small>
        </div>
      </a>
    {% endfor %}
    <div class="cf"></div>
    </section>
</aside>

</div>
{% include _footer.html %}
