---
layout: default
---

<!-- {% include _header.html %} -->

<div class="mw8 center">
  <main class="pvx phm pax-m paxl-l">
    <div>
      <p class="f4 f3-m f2-l f2-xl measure lh-copy mw8 mtm">
        Turning complex ideas into meaningful and intuitive experiences. Collaborator at <a target="_blank" href="http://www.collectivelymade.com">Collectively Made</a>. Writer for <a target="_blank"href="http://www.collectivelymade.com">Alphabet Town</a>.
      </p>
      <p class="f5 f4-ns">You can email me at <a href="mailto:alex@collectivelymade.com">alex@collectivelymade.com</a> or find me on <a target="_blank" href="http://twitter.com/alexanderussell">Twitter</a>, and <a href="http://www.linkedin.com/in/alexanderussell" target="_blank">LinkedIn</a>.</p>
    </div>
  </main>

  {% include _professional-work.html %}

  {% include _personal-projects.html %}

<!-- {% include _writing.html %} -->

  {% include _library.html %}

</div>
{% include _footer.html %}

