---
layout: default
title: Projects &amp; Experiements
---

<nav>
  <h1 class="fw4 f4-ns ttu"><a href="/">AR</a></h1>
  <a class="back" href="/">
    <p class="current">{{ page.title }}</p>
    <p class="go-back">Back to Home</p>
  </a>
</nav>

<main class="pvx phm pax-m paxl-l">
<h2 class="fw4 f6 f6-ns ttu">Projects &amp; Experiments</h2>
<div class="loop-wrap" >
  {% for post in site.posts %}
  <div class="thumb" id="{{ post.style }}">
    <a class="project-link" {% if post.href %} href="{{post.href}}" target="_blank"{% else %} href="{{post.url}}" {% endif %}>
      <div class="thumb-caption">
        <h1 class="proj-name">{{post.title}}</h1>
        <em class="fw4 f8-ns ttu">{{ post.subtitle }}</em>
        <div class="thumb-cover" style="background-image:url(/img/{{ post.src }})"></div>
      </div>
    </a>
  </div>
  {% endfor %}
</div>
<div class="cf"></div>
</main>
{% include _footer.html %}