<footer class="pal tc">
<!-- <small>&copy; {{ site.time | date: "%Y" }}</small> -->
<div class="social">
  <p class="tc ib" id="networks">
    <a href="http://twitter.com/alexanderussell" class="twitter" target="_blank">&#xe003;</a> <!-- Twitter -->
    <a href="https://medium.com/@AlexandeRussell" class="" target="_blank"><img style="max-width:35px;" src="/img/medium-m.svg"/></a>
    <a href="https://www.linkedin.com/pub/alexander-russell/92/687/598" class="" target="_blank"><i class="fa fa-linkedin"></i><!-- &#xe003; --></a> <!-- LinkedIn -->
    <!-- <a href="http://dribbble.com/vanderzon" class="dribbble" >&#xe004;</a> --> <!-- Dribbble -->
    <a href="http://instagram.com/alexanderussell" class="instagram" target="_blank">&#xe002;</a> <!-- Instagram -->
    <a href="mailto:alex@collectivelymade.com" class="mail" >&#xe030;</a> <!-- Email Address -->
  </p>
</div>
</footer>