
<footer class="footer pal pvx tc">
  <p class="tc f8 f5-ns none black">
    <a href="/">Home</a>
    <a href="http://twitter.com/alexanderussell">Twitter</a>
    <a href="https://dribbble.com/alexanderussell">Dribbble</a>
    <a href="http://www.linkedin.com/in/alexanderussell">LinkedIn</a>
    <a href="mailto:alex@collectivelymade.com">Email</a>
    <br>
    <br>
    <script id='fbvr3zn'>(function(i){var f,s=document.getElementById(i);f=document.createElement('iframe');f.src='//button.flattr.com/view/?fid=ro30v2&button=compact&url='+encodeURIComponent(document.URL);f.title='Flattr';f.height=20;f.width=110;f.style.borderWidth=0;s.parentNode.insertBefore(f,s);})('fbvr3zn');</script>
  </p>
  <p class="tc f8 f5-ns" >Alexander Russell &middot; <a href="http://creativecommons.org/licenses/by-sa/4.0/" target="_blank">CC BY-SA</a></p>
  <p class="footer-peace tc f2">✌</p>
</footer>

  {% if page.carousel %}
  <script type="text/javascript" src="/slick/slick.min.js"></script>
  <script src="/slick/slick-main.js"></script>
  {% endif %}

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-64454027-1', 'auto');
  ga('send', 'pageview');

</script>