<header>
  <div class="logo-container">
    <a href="/" class="logo">
      <img src="/img/ar-icon_red-bg.png" alt="alexanderussell" />
    </a>
  </div>
  <nav class="phs pn-ns pts">
    <a class="lt-gray none" style="margin-left:0 !important;" href="/projects">Projects</a>
<!--     <a class="lt-gray none" href="/articles">Articles</a> -->
    <a class="lt-gray none" href="/library">Library</a>
    <a class="lt-gray none" href="mailto:alex@collectivelymade.com">Hire Me →</a>
  </nav>
  <div class="cf"></div>
</header>