
  <!-- {% for project in site.categories.projects-featured limit: 2 %}
    {% if project.featured == true %}
    <div class="wi-50 fl featured prs">
     <a class="none" href="{{ project.url }}">
      <img src="/img/projects/{{ project.img }}" />
      <h2 class="black none db pan man fw4 f5 f5-ns">{{ project.title }} ›</h2>
      <span class="gray none pan tc">{{ project.subtitle }}</span>
     </a>
    </div>
    {% endif %}
  {% endfor %}
  <div class="cf pvm"></div>
  <hr class="line"> -->
  <ul class="list">
    {% for project in site.categories.projects  %}
      <li>
        <p><a href="{{ project.url }}">{{ project.title }} ›</a> <span>{{ project.subtitle }}</span></p>
      </li>
    {% endfor %}
  </ul>
