
<div class="wrapper case-study related-posts">
  <h2>Other Projects:</h2>
  <div class="posts-wrapper" style="display:inline-block;">
  {% for project in site.categories.projects limit:12 %}
    <div class="post">
      <a href="{% if project.external == true %}{{ project.permalink }}{% else %}{{ project.url }}{% endif %}">
        <div class="post-content">
          <img class="post-image" style="{{project.thumb-bg}}" src="/img/thumb/{{project.img}}">
          <div class="post-description">
            <div class="post-description-text">
              <p class="post-title">{{ project.title }}</p>
              <p class="post-source">{{ project.subtitle }}</p>
            </div>
          </div>
        </div>
      </a>
    </div>
  {% endfor %}
  </div>
</div>
<div class="cf"></div>
<br>