<div class="ptxl related-posts">
  <h2 class="f3 f3-ns b"><a href="/articles/" class="none black">Other Articles</a></h2>
  <ul class="list pln">
    {% for post in site.related_posts limit: 4 %}
      {% unless post.categories contains "projects" %}
      <li>
        <a class="none" href="{{ post.url }}">
          <span class="di b ttu">{{ post.title }} </span>&nbsp; - &nbsp;<span class="b lt-gray ttu"> {{ post.tag }}</span>
          <h2 class="fw1 mts mbn">{{ post.subtitle }}</h2>
        </a>
      </li>
      {% endunless %}
    {% endfor %}
  </ul>
</div>