
<a href="/writing" class="none dk-gray"><h2 class="fw4 f4 f4-ns ttu">Writing</h2></a>
<ul class="list">
  {% for post in site.categories.writing %}
  <li>
    <div class="date_of_post">
      <span class="month_post">{{ post.date | date: "%b" }}, </span>
      <span class="day_post">{{ post.date | date: "%m" }}</span>
    </div>
    <div class="content">
      <header><h2><a href="{{ post.url }}">{{ post.title }}</a></h2></header>
      <div class="content_snippet">
        <div class="excerpt">{{ post.excerpt }}</div>
      </div>
    </div>
  </li>
  {% endfor %}
</ul>