<header class="row container-584">
    <div class="box">
        {% for item in site.data.navigation %}
            {% assign class = nil %}
            {% if page.url == item.url %}
                {% assign class = 'current' %}
            {% else page.url != '/' and page.url contains item.url %}           
                {% assign class = 'current parent' %}         
            {% endif %} 
            <div class="nav-item">
                {% if item.tab == "new" %} 
                    <a href="{{ item.url }}" class="{{ class }}" target="_blank">
                    {{ item.title }}
                    </a>
                {% else %}
                <a href="{{ item.url }}" class="{{ class }}">
                    {{ item.title }}
                    </a>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</header>
