<div class="timeline-item flex fadeinup">
    <div class="flex flex-col items-center mr1 timeline-visual">
        <div class="timeline-dot flex justify-center">
            <i class="material-icons">{{ post.icon }}</i>
        </div>
        <div class="timeline-line flex-1"></div>
    </div>
    <div class="flex flex-col flex-1 w100">
        <div class="flex flex-col">
            <span class="post-meta">{{ post.date | date: "%b %d, %Y" }}</span>
            {% if post.category == "article"  %}
            <h3 class="c-dark">Published Post</h3>
            {% else %}
            <h3 class="c-dark">{{ post.title }}</h3>
            {% endif %}
        </div>
        <div class="timeline-full-width">
            {% if post.note %}
            <div class="note">
                <p>{{ post.note }}</p>
            </div>
            {% endif %}
            {% if post.external-url %}
            <div class="flex flex-wrap timeline-inset">
                <a href="{{post.external-url}}" target="_blank" rel="noopener noreferrer" class="btn">{{ post.cta }}</a>
            </div>
            {% endif %}

            {% assign content = post.content | strip_newlines %}

            {% if content != ""  %}
            <div class="post-card">
                <a class="" href="{{ post.url }}">
                    {% if post.img %}
                    <div class="post-img">
                        <img src="../img/articles/{{ post.img }}" alt="{{ post.img-alt | default: 'image representing a theme in this article' }}" />
                    </div>
                    {% endif %}
                    <div class="box post-text">
                        {% include read-time.html %}
                        <h3>{{ post.title }}</h3>
                        <p>{{ post.excerpt | truncate: 156 | remove: '<p>' | remove: '</p>' }}</p>
                    </div>
                </a>
            </div>
            {% endif %}
        </div>
    </div>
</div>
